      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r src/requirements.txt  # Update the path if the file is in a subfolder
